div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Battle City 2015
    p.lead Start playing the most kick-ass Dandy videogame ever right now!
    img(src='assets/images/tank.png', alt='Battle City 2015 tank')
    a.btn.btn-primary.btn-lg.btn-play(ng-show='isLoggedIn()' href='/game') Play
    a.btn.btn-primary.btn-lg.btn-play(ng-hide='isLoggedIn()' href='/login') Play
    
.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New


div(ng-include='"components/footer/footer.html"')